@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --border-root-thickness: 1.8rem;
  --border-root-thickness-hover: 0.9rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}
ul,
ul,
li {
  list-style-type: none;
}
.App {
  display: grid;
  justify-items: center;
}
